<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>

<header>
    <a href="/people">People</a><br/>
    <a href="/books">Books</a><br/><hr>
</header>

    <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">Value</p>

    <div th:if="${owner}">
        <p th:text="${'Book taken by ' + owner.getFull_name()}">Value</p>
        <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
            <input type="submit" value="Release"/>
        </form>
    </div>
    <div th:if="${people}">
        <span>This book is free. To whom should it be assigned?</span>
        <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
            <label for="person">Choose person</label>
            <select th:object="${person}" th:field="*{id}" id="person">
                <option th:each="person : ${people}" th:value="${person.getId()}"
                        th:text="${person.getFull_name()}">Value</option>
            </select>
            <input type="submit" value="Assign">
        </form>
    </div>

    <hr>
    <form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
        <input type="submit" value="Edit">
    </form><br/>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Delete">
    </form><br/>

</body>
</html>